# Sample .env file
# replace with real values

# Database config
DB_HOST=localhost
DB_USER=myusername
DB_PASSWORD=mypassword
DB_NAME=databasename

# Token authentication
JWT_SECRET=jotain-salaista-tähän
JWT_EXPIRES_IN=24h

# Kubios API config
KUBIOS_CLIENT_ID=get-from-teacher-sakke # DO NOT COMMIT THE REAL VALUE TO GIT or share publicly (make sure to add it to .env.sample with placeholder value)
KUBIOS_LOGIN_URL=https://kubioscloud.auth.eu-west-1.amazoncognito.com/login
KUBIOS_REDIRECT_URI=https://analysis.kubioscloud.com/v1/portal/login
KUBIOS_API_URI=https://analysis.kubioscloud.com/v2
KUBIOS_USER_AGENT=YOUR_APP_NAME_HERE